header{
    
    background-image: url(file:///C:/Users/Edmun/Desktop/JS/bacardihouseparty-philly-8.jpg);
    align-items: center;
    height: 150px;
    background-repeat: repeat-x;
    background-size: contain;
    background-position: right;
    }   
    
        
img{
    width: fit-content;
    height: fit-content;
}

h1{
    color: red;
     text-align: center;
     height: 250px;
     text-shadow: black;
     
     }
     
    
    

h2{ 
    text-align: center;
    color: grey;
    font-family: 'Fjalla One', sans-serif;
}
    
p{
    background-color: indianred;
    font-family: 'IM Fell DW Pica', serif;    
}

h4{
    color: black;
}
h6{
    color: gray;
}

button{
margin: 9px;

}

body{
    background-color: black
}

footer{
    background-color:white;
    height: 100px;
    
    
    }
    
    .card{
        background-color: black;
    }

    nav{
        height: 40px;
    }

    span{
        background-image: image("opening text");
    }
    
    
#special{
    color: gray;
}
    
.logo{
    color: black;
}

    
